@media only screen and (min-width: 769px) {
  #section0 {
    background-image: url(folds/folds-1/Top.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #feaa01;
  }
  .show-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #section0 {
    background-image: url(folds/folds-1/mobile.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hide-on-mobile {
    display: none;
  }

  #form table input {
    height: 38px !important;
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 500px) {
  #gifts {
    display: flex;
    justify-content: space-around;
  }
}

.gift img {
  width: 70%;
}
.win-price-title {
  width: 70%;
  margin-bottom: 50px;
}

/******************************/
.content {
  margin: auto;
  width: 80%;
  margin-top: 0.5rem;
  height: 100%;
}

.form-container {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  height: 100%;
}

/*******************************/
.mt20 {
  margin-top: 10px;
}
.full-width {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.product {
  width: 60%;
  margin-top: 0.7em;
}

.mb20 {
  margin-bottom: 20px;
}

.mt50 {
  margin-top: 50px;
}
.mcard {
  width: 80% !important;
}
.w-70 {
  width: 70% !important;
}

/*************************************/
@font-face {
  font-family: BreuerRegular;
  src: url(folds/fonts/BreuerText.ttf);
}

@font-face {
  font-family: BreuerBold;
  src: url(folds/fonts/BreuerText-Bold.otf);
}

@font-face {
  font-family: Aton;
  src: url(folds/fonts/Anton-Regular.ttf);
}

.term {
  margin: auto;
  width: 80%;
  height: 100%;
  color: white;
  margin-top: 30px;
  text-align: justify;
  font-size: 17px;
  font-family: BreuerRegular;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.term *,
.term {
  font-size: 17px;
}

.term p {
  padding: 0 !important;
}

.term-table table,
.term-table tr,
.term-table td {
  border: 1px solid white;
  border-collapse: collapse !important;
  padding: 2px;
}
.term-table {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.follow-us {
  font-family: BreuerBold;
  font-size: 30px;
}

.mr50 {
  margin-right: 50px;
}
.mt30{
  margin-top: 30px;
}

#section2{
  background-image: url(folds/folds-3/background-products.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}